* {
    box-sizing: border-box;
}

/*font*/
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

/* Style the header */
.flex-container h1 {
    background-color: #ffffff;
    font-size: 2.5vw;
    color: #ff666b;
    cursor: default;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #23d43b;
    border-radius: 5px;
    padding: 0.8vw;
    background: #f0f1f1;
    max-width: 30vw;
    height: 3vw;
    width: 100%;
}

.search-bar i {
    color: #888;
    font-weight: Thin;
    margin-right: 10px;
    font-size: 1.5vw;
}

.search-bar input {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    font-size: 1.5vw;
    text-align: justify;
}

.search-bar:hover {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* ------------ Nav -------------- */

section {
    display: -webkit-flex;
    display: flex;
}

.nav-container {
    display: flex;
    background: #ff666b;
    padding: 20px;
    width: 100%;
}

/* Style the navigation menu */
nav,
ul {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5vw;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

li a:hover {
    color: #000000;
    text-shadow: 0 0 10px rgb(37, 137, 243);
}

/* ------------------- Hero -------------------- */
.hero-container {
    background: #ffffff;
    padding: 20px;
    width: 100%;
    text-align: center;
    cursor: default;
}

.hero-container h2 {
    margin-bottom: 10px;
    font-size: 6vw;
}

.hero-container span {
    color: #ff666b;
}

.hero-container .cta-buttons button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.hero-container .cta-buttons .a {
    background: #ff666b;
    color: #fff;
}

.hero-container .cta-buttons .b {
    background: transparent;
    color: #ff666b;
}

.hero-container .cta-buttons button:hover {
    background: #555;
    color: #ff666b;
}

/* ----------------- hero-end-container ----------------- */
.hero-end-container {
    display: flex;
    background: #ffffff;
    margin: 20px;
    width: 100%;
    font-size: 1vw;
    text-align: center;
    font-weight: 100;
    justify-content: space-evenly;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.hero-end-container h2:hover {
    cursor: default;
    text-shadow: 0 0 10px rgba(9, 102, 202, 0.5);
}

/* ----------------- Categories ----------------- */
.title {
    display: block;
    color: #000000;
    text-align: center;
}

.categories {
    display: flex;
    margin: 20px 40px 20px 40px;
    width: 100vw;
    font-size: 1vw;
    font-weight: 100;
    gap: 1vw;
}

.category-card {
    flex: 1;
    display: flex;
    height: 20vw;
    justify-content: space-between;
    border-radius: 10px;
    padding: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.category-card.green {
    background-color: #5dbe88;
}

.category-card.orange {
    background-color: #fec8a4;
}

.category-content-green h2 {
    color: #ffffff;
    font-size: 2vw;
}

.category-content-orange h2 {
    color: #000000;
    font-size: 2vw;
}

.category-content-green p {
    color: #ffffff;
}

.explore-btn {
    border-radius: 20px;
    outline: none;
    border: none;
    padding: 1vw;
}

.explore-btn:hover {
    color: #ffffff;
    background-color: #000000;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

.category-card:hover {
    transform: scale(1.1);
}

/* Category End Card */

.category-end {
    display: block;
    margin: 0 3vw 0 3vw;
    font-size: 2vw;
    font-weight: 100;
    overflow: hidden;
}

.category-end-card {
    float: left;
    display: block;
    position: relative;
    width: 21.1vw;
    margin: 0 1vw 0.8vw 1vw;
    padding: 14px 16px;
    height: 20vw;
    border-radius: 10px;
    background-color: #888;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.category-end-content h2 {
    position: absolute; 
    bottom: 10px; 
    left: 50%;
    transform: translateX(-50%); 
    font-size: 1vw;
    width: 15vw;
    border: 1px solid transparent;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}

.category-end-card:hover {
    transform: scale(1.1);
}

.category-end-content h2:hover {
    background-color: black;
    color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}


/* Style the footer */
footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 800px) {
    h1 {
        font-size: 5vw;
    }

    .search-bar {
        width: 30vw;
        height: 5vw;
    }

    h2 {
        font-size: 2vw;
    }

    p {
        font-size: 2vw;
    }

    .cta-buttons .a,
    .b {
        font-size: 3vw;
    }

    .category-card {
        height: 30vw;
    }

    .explore-btn {
        font-size: 2vw;
    }

    .category-content-green h2 {
        font-size: 2.5vw;
    }

    .category-content-green p {
        font-size: 1.5vw;
    }

    .category-content-orange h2 {
        font-size: 2.5vw;
    }

    .category-content-orange p {
        font-size: 1.5vw;
    }
}


@media (max-width: 666px) {

    .category-end-card {
        width: 27vw;
    }
}

@media (max-width: 290px) {

    .category-end-card {
        width: 40vw;
    }
}

@media (max-width: 260px) {

    .category-end-card {
        width: 80vw;
    }

    .category-end {
       margin: 0 10vw 0 10vw;
    }
}

@media (max-width: 650px) {
    .categories {
        flex-direction: column;
    }

}



    