* {
    box-sizing: border-box;
}

/*font*/
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

/* Style the header */
header,
h1 {
    background-color: #ffffff;
    font-size: 2.5vw;
    color: #ff666b;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #23d43b;
    border-radius: 5px;
    padding: 0.8vw;
    background: #f0f1f1;
    max-width: 30vw;
    height: 4vw;
    width: 100%;
}

.search-bar i {
    color: #888;
    font-weight:  Thin;
    margin-right: 10px;
    font-size: 1.6vw;
}

.search-bar input {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    font-size: 2vw;
    text-align: justify;
}

.search-bar:hover {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* ------------ Nav -------------- */

section {
    display: -webkit-flex;
    display: flex;
}

.container {
    display: flex;
    background: #ff666b;
    padding: 20px;
    width: 100%;
}

/* Style the navigation menu */
nav,
ul {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5vw;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Style the content */
article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-color: #f1f1f1;
    padding: 10px;
}

/* Style the footer */
footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
    h1 {
        font-size: 5vw;
    }
    .search-bar {
        width: 30vw;
        height: 5vw;
    }
}
